* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 400;
}
section {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: lightblue;
}
.container {
  display: flex;
  align-items: center;
  justify-content: center; flex-direction: column;
  padding: 15px;
  border-radius: 5px;
  background-color: white;
}
h1 {
  margin-bottom: 20px;
}
h2 {
  font-size: 50px;
}
button {
  padding: 10px 15px;
  border-radius: 10px;
  background-color: blue; width: 150px; font-size: 16px;
  color: white;cursor: pointer;
  transition: background-color 0.3s ease;
  border: none;
  margin: 20px 15px 0;
}
button:hover {
  background-color: rgb(14, 14, 202);
}
button:active {
  transform: scale(0.98);
}
